/* Whole document: */
body{
  font-family: avenir;
  font-size: 14pt;
  color: black;
}

/* Headers */

h1 {
  font-size: 22pt;
  color: 	 #B00C25;
}


h2 { 
  font-size: 18pt;
  color: #6C575A;
}

h3 { 
  font-size: 16pt;
  color:  #6C575A;
}


/* Code Chunks */
pre {
  max-height: 350px;
  background-color: #E4ECE7;
  overflow-y: auto;
}

pre[class] {
  max-height: 250px;
}


/* unvisited link */
a:link {
  color: #374AD5;
}

/* mouse over link */
a:hover {
  color: #833C3C;
}

/* TOC */

.list-group-item.active:hover {
    z-index: 1;
    color: red;
    background-color: #E4ECE7;
    border-color: #E4ECE7;
}

.list-group-item.active:hover {
    z-index: 2;
    color: red;
    background-color: #E4ECE7;
    border-color: #E4ECE7;
}


.list-group-item.active {
    z-index: 1;
    color: black;
    background-color: #E4ECE7;
    border-color: #E4ECE7;
}

.list-group-item.active {
    z-index: 2;
    color: black;
    background-color: #E4ECE7;
    border-color: #E4ECE7;
    }

